body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: white;
    
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    width: 80vw;
    height: 80vh;
    margin: 10px;
    
}

.tan1 {
    background-color: #d4cfc5;
    border: 10px solid black; 
    border-right: none;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tan2 {
    position: relative;
    background-color: #d4cfc5;
    border: 10px solid black; 
    border-top: none;
    border-right: none;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.red {
    background-color: #A22E16;
    border: 10px solid black;
    grid-column: 2 / 4; 
    grid-row: 1 / 3;
}

.navy {
    background-color: #1f2e7e;
    border: 10px solid black;
    border-top: none;
    border-right: none;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.tan3 {
    background-color: #d4cfc5;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    border: 10px solid black;
    border-top: none;
    border-right: none;
}

.tan4 {
    background-color: #d4cfc5;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border: 10px solid black;
    border-top: none;
}

.yellow {
    background-color: #d1ae29;
    border: 10px solid black;
    border-top: none;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}







